
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <%= friend.firstName %> <%= friend.lastName %>
    </h5>
    <p class="card-text">
      <%= friend.email %> | <%= friend.mobile %>
    </p>
  </div>
</div>
<br>